.btn{
    webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
    border: none;
    border-radius: 0px;
}

.btn a{
    color: black;
}

.btn a:hover{
    text-decoration: none;
}

.card-title{
    background-color:#00FF00;
}

.card-title h2{
    color:black;
}

.card-content{
    background-color:#00FF00;
    padding:20px;
}

.card-content p{
    color:black;
}

.card-container button{
    margin-top:20px;
}

.card-container a:hover{
    background: black;
    text-decoration: none;
}

.card-container a:active{
    background: black;
    text-decoration: none;
}

.card-container button a{
    background: none;
}

.card-container button a:hover{
    background: none;
}