/* 'Hacker theme' styling */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #00FF00;
  font-family: 'Share Tech Mono', Monospace, Courier;
  line-height: 1;
  padding-bottom: 35px !important;
}

a, .navbar .navbar-toggle {
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  /* Who cares about microsoft? */
}

/* Add a border to navbarCollapse div */
#navbarCollapse {
  border-bottom: 1px solid #101010;
}

h1,
h2,
h3,
p,
a {
  color: #00FF00;
  font-family: 'Share Tech Mono', Monospace, Courier;
}

p,
a {
  font-size: 18px;
}

h1 {
  margin-top: 40px;
}

/* 'Hacker theme' Link styling */
a {
  font-weight: bold;
  text-decoration: none;
}

a:link { /* unvisited link */
    color: #fff;
}

a:visited { /* visited link */
    color: #fff;
}

/* Bunch of bootstrap element customization */
.navbar-inverse .active,
.navbar-inverse a.navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #00FF00;
}

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.0) !important;
}

.navbar .navbar-toggle {
  border-color: rgba(0, 0, 0, 0.0);
}

.navbar-header {
  position: relative;
}

.navbar-header span.header-logo {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .navbar {
    border-bottom: 1px solid #101010;
  }
}

.row.contacts {
  padding-left: 10%;
  padding-right: 10%;
}
/* End bootstrap customization */

a:active { /* selected link */
    color: #00FF00;
}

/* 'Hacker theme' Nav bar styling */
nav {
  /* padding-top: 20px; */
  /* margin-top: -10px; */ /* Related to line-height of the links inside the nav. Looks better on both non-mobile and mobile */
  font-family: 'Share Tech Mono', Monospace, Courier;
}

/*
nav a:link {
  background: #00FF00;
  border-radius: 0px;
  line-height: 45px; // Important for mobile
  margin-top: -10px;
  text-decoration: none;
  color: black;
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

nav a:visited {
  color: black;
}

nav a:hover {
  background: black;
  color: #00FF00;
}

nav a:active {
  background: #00FF00;
}
*/

/* Header logo styling */
.logo {
  width: 100%;
}

.logo img {
  width: 100%;
}

/* Links to our social media */
.quick-links {
  position: fixed;
  top: 0px;
  left: 20px;
  text-decoration: none;
}

.quick-links i {
  margin-bottom: 10px;
  font-size: 32px;
  display: block;
}

.quick-links a {
  color: #fff;
  text-decoration: none;
}


/* Meeting times styling */
/* See meetingtimes.css for media queries */
.info-wrapper {
  text-align: center;
  position: absolute;
  right: 10px;
  margin-right: 20px;
}

.info-wrapper h1 {
  font-size: 16px;
  margin-top: 0px;
  padding-top: 0px;
}

.info {
  border: 2px solid #cccccc;
  border-radius: 4px;
  padding: 12px;
  font-size: 14px;
}

.row.header {
  width: 100%;
  margin: 0 auto;
}

