
body {
	background-color: black;
    min-width: 720px; /* Temporary hack fix to avoiding media queries */
}

#logo {
	color: #00FF00;
	padding-top: 20px;
	text-align: left;
}

#logo pre {
	text-align: center;
}

#logo pre, #logo xmp, #logo plaintext, #logo listing {
    font-family: "Monospace";
}

h1 {
	color: #00FF00;
	text-align: center;
	padding-top: 50px;
	font-family: 'Share Tech Mono', Monospace, Courier;
}

p {
	color: #00FF00;
	text-align: center;
	font-family: 'Share Tech Mono', Monospace, Courier;
}

/*Nav bar Style*/
.par {
    padding-bottom: 10%;
}

.content {
    color: #00FF00;
    text-align: center;
    font-family: 'Share Tech Mono', Monospace, Courier;
    height: 90%;
}

nav {
	text-align: center;
    padding-top: 15px;
	font-family: 'Share Tech Mono', Monospace, Courier;
}

nav li {
    display: inline;
    margin-right: 10px;
    padding: 10px;
    background-color: #00FF00;
    text-decoration: none;
}

nav li:hover {
    background: black;
    color: #00FF00;
}

nav li:hover a {
    color: #00FF00;
}

/* Edited css to only cover links that are inside of #nav */
/* visited link */
nav a, nav a:visited {
    color:black;
    text-decoration: none;
}

/* mouse over link */
nav a:hover {
    color:#00FF00;
    text-decoration: none;
    /* padding: 10px; */
}

/* selected link */
nav a:active {
    color:black;
    text-decoration: none;
}

/* Added body link styling, change this at your discretion */
pre a {
    font-weight: bold;
}

pre a, pre a:link, pre a:visited {
    color: #fff;
}

pre a:hover {
    color: #11aa11;
}


