/* 'Hacker theme' styling */
body {
  background-color: black;
  color: #00FF00;
  font-family: 'Share Tech Mono', Monospace, Courier;
  line-height: 1;
}

h1,
h2,
h3,
p,
a {
  color: #00FF00;
  font-family: 'Share Tech Mono', Monospace, Courier;
}

p,
a {
  font-size: 18px;
}

h1 {
  margin-top: 60px;
}

/* 'Hacker theme' Link styling */
a {
  font-weight: bold;
  text-decoration: none;
}

a:link { /* unvisited link */
    color: #fff;
}

a:visited { /* visited link */
    color: #fff;
}

a:hover { /* mouse over link */
    color: #00FF00;
}

a:active { /* selected link */
    color: #00FF00;
}

/* 'Hacker theme' Nav bar styling */
nav {
  padding-top: 20px;
  font-family: 'Share Tech Mono', Monospace, Courier;
  padding-bottom: 20px;
}

nav a:link {
  background: #00FF00;
  border-radius: 0px;
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

nav a:visited {
  color: black;
}

nav a:hover {
  background: black;
  color: #00FF00;
}

nav a:active {
  background: #00FF00;
}

/* Header logo styling */
.logo {
  width: 100%;
}

.logo img {
  width: 100%;
}

/* Links to our social media */
.quick-links {
  position: fixed;
  top: 0px;
  left: 20px;
  text-decoration: none;
}

.quick-links i {
  margin-bottom: 10px;
  font-size: 32px;
  display: block;
}

.quick-links a {
  color: #fff;
  text-decoration: none;
}


/* Meeting times styling */
.info-wrapper {
  position: absolute;
  right: 10px;
  margin-right: 20px;
}

.info-wrapper h1 {
  font-size: 16px;
  margin-top: 0px;
  padding-top: 0px;
}

.info {
  border: 2px solid #cccccc;
  border-radius: 12px;
  padding: 12px;
  font-size: 14px;
}