/* Contact styling */
#contact .titles p {
  background-color: #00FF00;
  color: black;
}

@media (max-width:650px){ /* Some breakpoints for mobile on the contact menu */
  #contact{
    min-width: 650px;
    margin-left: -100px;
  }
}

/* iframe fix */
#events-calendar {
  width: 100%;
  height: 100vh;
  border: none;
}

.row {
  width: 100%;
  margin: 0 auto;
}


